.feed{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 14% 43% 27% 15%;
    height: 100%;
    
    .modal-content{
       
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
       
        left: 45%;
        top: 8%;
        width: 30%; /* Full width */
        height: 40%; /* Full height */
        overflow: auto;
        background-color:white;
        border-radius: 10px;
        box-shadow:-1px 1px 1px rgb(247,247,247);
    }
    
}