.header{
    border-style: solid;
    border-width: thin;
    border-color: #e7f0c7ee;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    position: fixed;
    
    
    

    .logo{
        margin-right: 10px;
        margin-top:12px;
        margin-left: 30px;
        flex-grow: 4;
        img{
            margin-left: 50%;
        }
        
    }
    .search-bar{
        margin-top: 12px;
        margin-left: 10%;
        flex-grow:1;
        margin-right: 10%;
        input{
            background-color: #f0ecec;
            border-width:thin;
            border-color:#f0ecec;
            height:28px;
            width: 80%;
            border-radius: 3px;
        }
        input:focus{
            border: none;
        }
    }
   
    .interaction-section{
        
        flex-grow: 4;
       
        img{
            cursor: pointer;
            margin-top:12px;
            margin-left:20px;
            height: 30px;
        }
    }
    .free-space{
        flex-grow:1;
    }
}